# Dependencies
node_modules
dist

# Environment
.env

# Old Folders (Next.js & Root duplicates) - ON LES SUPPRIME DU CLOUD
/src
/public
/server
/shared
next.config.ts
next.config.mjs
postcss.config.mjs
drizzle.config.ts
components.json
APPWRITE_SETUP.md
APPWRITE-SITES-SETUP.md
design_guidelines.md
apply-migration.sh
