# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.next
out
build

# Environment variables
.env
.env.local

# Editor
.vscode
.idea

# Old Next.js remnants (Désactivés)
/src
next.config.ts
next.config.mjs
drizzle.config.ts
components.json
